<div class="members-login place-items-start mx-auto h-screen">
  <div class="w-full  max-w-6xl mx-auto shadow-xl pt-2 rounded-lg">
    <div class="flex items-center justify-between w-full mb-2">
      <%= link_to 'Back', libraries_path,class:"bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= link_to 'Show', @library ,class:"bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%> 
    </div>
    <div class="bg-cyan-600 flex text-center justify-center font-semibold text-2xl action p-3 text-gray-900 rounded-t-lg">
      <h4>Library Details</h4>
    </div>
    <div class="bg-white rounded px-8 py-6">
      <%= form_with(model: library) do |form| %>
        <% if library.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(library.errors.count, "error") %> prohibited this book from being saved:</h2>
            <ul>
              <% library.errors.full_messages each do |error| %>
                <li><%=error%></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="library_Name">Name<sup class="text-sm text-red-600">*</sup></label>
           <%= form.text_field :name ,required: true,pattern:"^[a-zA-Z0-9_.- #]*$",class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="field mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="library_Address">Address<sup class="text-sm text-red-600">*</sup</label>
          <%= form.text_field :address,required: true,pattern:"^[a-zA-Z0-9_.- #]*$",class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-3" %>
        </div>

        <div class="field mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="library_Address">Location<sup class="text-sm text-red-600">*</sup</label>
          <%= form.text_field :location,required: true,pattern:"^[a-zA-Z0-9_.- #]*$",class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-3" %>
        </div>
    
        <div class="actions focus:outline-none focus:shadow-outline">
          <%= form.submit "Edit Library", class: "bg-cyan-600 flex hover:bg-blue-700 justify-center w-full text-white text-xl font-medium rounded mt-4 p-2"%>
        </div>
      <% end %>
    </div>
  </div>
</div>