

<div class="grid grid-cols-1 gap-2 place-items-center capitalize">
  <div class="flex w-full max-w-6xl items-center justify-between mt-1">
    <%= link_to 'Back', books_path,class:"bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
    <%= link_to 'Edit', edit_book_path(@book) ,class:"bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
  </div>
  <div class="  w-full max-w-6xl ">
    <div class='bg-cyan-600 flex justify-center text-lg p-2 rounded-md text-white'>
       <h4>Book Details</h4>
    </div>
    <div class="shadow-md flex flex-col rounded-md px-8 pt-6 pb-8 mb-4 mx-auto w-50 bg-white">
      <table>
        <thead>
          <tr>
            <th class="mb-2"><strong>Name</strong></th>
            <th class="mb-2 text-left"><strong>Author</strong></th>
            <th class="mb-2 text-left"> <strong>ISBN</strong></th>
            <th class="mb-2 text-left"><strong>Publication Year</strong></th>
            <th class="mb-2 text-left"><strong>Catagory</strong></th>
            <th class="mb-2 text-left"><strong>Publisher</strong></th>
            <th class="mb-2"><strong>Created at:</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-2 px-2 m-1 text-center text-sm font-medium"><%= @book.name%></td>
            <td class="py-2 px-2 m-1 text-center text-sm font-medium"><%= @book.author%></td>
            <td class="py-2 m-1 text-left text-sm font-medium"><%= @book.isbn %></td>
            <td class="py-2  m-1 text-left text-sm font-medium"><%=@book.publication_year %></td>
            <td class="py-2 px-2 m-1 text-center text-sm font-medium"><%= @book.catagory%></td>
            <td class="py-2 px-2 m-1 text-center text-sm font-medium"><%= @book.publisher%></td>
            <td class="py-2 px-2 m-1 text-center text-sm font-medium"><%= @book.created_at %></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
